<h1>Sudoku</h1>

<div id="mainDiv"></div>

<div id="message" class="display">
    <h3>You've won!</h3>
    <p>Would you like to play again?</p>
    <button id="yes" type="button" class="btn btn-primary">Yes</button>
    <button id="no" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
</div>

<script src="/script.js"></script>