h1 {
    text-align: center;
    margin: 3% 0 3% 0;
}

input {
    text-align: center;
    border: none;
}

input[id^='board'] {
    border: 1px solid grey;
}

input[id^='board-0'], input[id^='board-3'], input[id^='board-6'] {
    border-top: 3px solid black;
}

input[id^='board-8'] {
    border-bottom: 3px solid black;
}

.quadrantLeftBorder {
    border-left: 3px solid black !important;
}

.quadrantRightBorder {
    border-right: 3px solid black !important;
}

#message {
    margin: auto;
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

.display {
    display: none;
}

@media screen and (max-width: 576px) {
    #table {
        width: 100%;
    }

    input {
        padding: 5px 0 5px 0;
    }
}

@media screen and (min-width: 576px) {
    input {
        padding: 8px 5px 8px 5px;
    }
}

@media screen and (min-width: 768px) {
    #table {
        width: 50%;
    }

    input {
        padding: 10px 5px 10px 5px;
    }
}

@media screen and (min-width: 992px) {
    input {
        padding: 15px 0 15px 0;
    }
}